* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container {
  max-width: 1360px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

header {
  height: 80px;
  background-color: #373f48;
  width: 100%;
  padding-top: 22px;
  padding-bottom: 18px;
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
header > button {
  width: 175px;
  height: 45px;
  border: 1px solid #e9cd7b;
  border-radius: 4px;
  background: #373f48;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #e9cd7b;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  /* mix-blend-mode: multiply; */
}
.img {
  width: 150px;
  height: 24px;
}
.menu {
  width: 540px;
  height: 20px;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-direction: row;
  font-family: "IBM Plex Sans", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}
/* .palka {
  display: flex;
  color: #e9cd7b;
  align-items: flex-start;
} */
.services {
  color: #e9cd7b;
  font-weight: 400;
}
main {
  width: 100%;
  height: 880px;
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.ssilki {
  width: 138px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  margin-left: 165px;
  margin-top: 40px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #9b9fa3;
}

a {
  text-decoration: none;
}

a:visited {
  color: grey;
}

.h {
  display: flex;
  margin-left: 165px;
  margin-top: 80px;
  margin-bottom: 90px;
}
h1 {
  display: flex;
  justify-content: flex-start;
  width: 170px;
  height: 55px;
  font-family: "Source Sans Pro";
  font-size: 48px;
  line-height: 55px;
  align-items: center;
  color: #373f48;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.square {
  display: flex;
  flex-flow: wrap;
  row-gap: 80px;
  column-gap: 120px;
  margin-left: 165px;
  margin-right: 60px;
  margin-bottom: 100px;
  width: 1150px;
  height: 525px;
}
/* .row1 {
  display: flex;
  width: 1120px;
  height: 200px;
}
.row2 {
  display: flex;
  width: 1120px;
  height: 110px;
}
.row3 {
  display: flex;
  width: 1120px;
  height: 110px;
} */
.text > p {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #373f48;
}

.text {
  display: flex;
  width: 290px;
  height: 120px;
  flex-direction: column;
}

.textbox {
  display: flex;
  width: 320px;
  height: 200px;
  flex-direction: column;
  align-self: flex-end;
}
h2 {
  display: flex;
  margin-bottom: 15px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 55px;
  color: #373f48;
  align-items: center;
}
hr {
  display: flex;
  width: 1250px;
  margin-left: 60px;
  margin-top: 0px;
  color: #373f481a;
}
.contacts {
  display: flex;
  margin-left: 165px;
  margin-top: 45px;
  margin-right: 165px;
  margin-bottom: 140px;
  justify-content: space-between;
}
.AS {
  display: flex;
  width: 140px;
  height: 145px;
  flex-direction: column;
}
h4 {
  margin-bottom: 15px;
  font-family: "Source Sans Pro";
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #373f48;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.arefs {
  display: flex;
  width: 140px;
  height: 100px;
  flex-direction: column;
  row-gap: 10px;
}
.arefs > a {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #373f48;
}

.FS {
  display: flex;
  width: 100px;
  height: 60px;
  flex-direction: column;
}
.photos {
  display: flex;
  width: 100px;
  height: 20px;
  justify-content: space-between;
}
.number {
  display: flex;
  width: 170px;
  height: 50px;
  flex-direction: column;
}
.number > h4 {
  margin-bottom: 3px;
  font-family: "Source Sans Pro";
  font-size: 16px;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: #373f48;
  text-shadow: none;
}
.number > p {
  font-family: "Source Sans Pro";
  font-size: 20px;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: grey;
}
.contacts > button {
  display: flex;
  width: 200px;
  height: 45px;
  background: #eac55e;
  border-radius: 4px;
  border: none;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-family: "Source Sans Pro";
  font-size: 14px;
  line-height: 18px;
  color: #575c61;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.bottomline {
  display: flex;
  width: 100%;
  height: 70px;
  background-color: #e6e6e6;
  justify-content: flex-start;
  align-items: center;
}

.bottomline > p {
  display: flex;
  width: 170px;
  height: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 60px;
  align-items: center;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 26px;
  color: #373f48;
}
footer {
  display: flex;
  width: 1400px;
  height: 380px;
  flex-direction: column;
}
